{% load static %}
<!DOCTYPE html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords" content="INTUITIVE">
  <meta name="description" content="">
  <meta name="page_type" content="np-template-header-footer-from-plugin">
  <title>Home</title>
  <link rel="stylesheet" href="static/css/nicepage.css" media="screen">
<link rel="stylesheet" href="static/css/Home.css" media="screen">
  <script class="u-script" type="text/javascript" src="static/css/jquery.js" defer=""></script>
  <script class="u-script" type="text/javascript" src="ststic/css/nicepage.js" defer=""></script>
  <script class="u-script" type="text/javascript" src="ststic/css/demo2.css" defer=""></script>
  <script class="u-script" type="text/javascript" src="ststic/css/float-panel.js" defer=""></script>
  <script type="text/javascript" src="//static.nicepage.com/shared/assets/jquery-1.9.1.min.js" defer="defer"></script>
  
  <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
  
  <script type="application/ld+json">{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "BloodBank",
  "url": "index.html",
  "logo": "https://www.nicepng.com/png/detail/364-3647802_blood-symbol-png-blood-donation-app-logo.png",
  "sameAs": [
      "https://facebook.com/name",
      "https://twitter.com/name",
      "https://www.instagram.com/mba_gareeb/"
  ]
}</script>
  <meta property="og:title" content="Home">
  <meta property="og:type" content="website">
  <meta name="theme-color" content="#478ac9">
  <link rel="canonical" href="index.html">
  <meta property="og:url" content="index.html">
  <meta name="twitter:site" content="@">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Home">
  <meta name="twitter:description" content="BloodBank">
</head>


<body>
  {% include "blood/navbar.html" %}
<br><br><br><br>
<body class="u-body"><header class="u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xs u-clearfix u-header u-white u-header" id="sec-657b">

<section id="carousel_5d7c" class="u-carousel u-slide u-block-d2f3-1" data-u-ride="carousel" data-interval="5000">
<ol class="u-absolute-hcenter u-carousel-indicators u-block-d2f3-2">
  <li data-u-target="#carousel_5d7c" data-u-slide-to="0" class="u-active u-active-palette-1-base u-white" style="background-image: none;"></li>
  <li data-u-target="#carousel_5d7c" class="u-active-palette-1-base u-white" data-u-slide-to="1"></li>
  <li data-u-target="#carousel_5d7c" class="u-active-palette-1-base u-white" data-u-slide-to="2"></li>
</ol>
<div class="u-carousel-inner" role="listbox">
  <div class="u-active u-align-center u-carousel-item u-clearfix u-image u-shading u-section-1-1" src="http://c.files.bbci.co.uk/182FF/production/_107317099_blooddonor976.jpg" data-image-width="730" data-image-height="487">
    <div class="u-clearfix u-sheet u-sheet-1">
      <p class="u-align-center u-hidden-xs u-large-text u-text u-text-font u-text-variant u-text-1" spellcheck="false">The most precious gift that one can give to another person is the gift of life i.e. blood.<br>
      </p>
      <h1 class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-text u-text-2">Donate Blood &amp; Save a L​ife</h1>
      <h1 class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-text u-text-3" spellcheck="false">Automated Blood Monitoring</h1>
      <a href="#" class="u-align-center-xs u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-btn u-btn-round u-button-style u-hover-custom-color-2 u-palette-2-base u-radius-10 u-btn-1">donor</a>
      <a href="#" class="u-align-center u-btn u-btn-round u-button-style u-hover-custom-color-2 u-palette-2-base u-radius-10 u-btn-2">hospital/ngo</a>
    </div>
  </div>
  <div class="u-align-center u-carousel-item u-clearfix u-image u-shading u-section-1-2" src="" data-image-width="1330" data-image-height="555">
    <div class="u-clearfix u-sheet u-sheet-1">
      <p class="u-align-center u-hidden-xs u-large-text u-text u-text-font u-text-variant u-text-1" spellcheck="false">The most precious gift that one can give to another person is the gift of life i.e. blood.<br>
      </p>
      <h1 class="u-align-center-lg u-align-center-md u-align-center-sm u-text u-text-2">Donate Blood &amp; Save a L​ife</h1>
      <h1 class="u-align-center-lg u-align-center-md u-align-center-sm u-text u-text-3" spellcheck="false">Automated Blood Monitoring</h1>
      <a href="#" class="u-align-center-xs u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-btn u-btn-round u-button-style u-hover-custom-color-2 u-palette-2-base u-radius-10 u-btn-1">donor</a>
      <a href="#" class="u-align-center u-btn u-btn-round u-button-style u-hover-custom-color-2 u-palette-2-base u-radius-10 u-btn-2">hospital/ngo</a>
    </div>
  </div>
  <div class="u-align-center u-carousel-item u-clearfix u-image u-shading u-section-1-3" src="" data-image-width="1200" data-image-height="630">
    <div class="u-clearfix u-sheet u-sheet-1">
      <p class="u-align-center u-hidden-xs u-large-text u-text u-text-font u-text-variant u-text-1" spellcheck="false">The most precious gift that one can give to another person is the gift of life i.e. blood.<br>
      </p>
      <h1 class="u-align-center-lg u-align-center-md u-align-center-sm u-text u-text-2">Donate Blood &amp; Save a L​ife</h1>
      <h1 class="u-align-center-lg u-align-center-md u-align-center-sm u-text u-text-3" spellcheck="false">Automated Blood Monitoring</h1>
      <a href="#" class="u-align-left u-btn u-btn-round u-button-style u-hover-custom-color-2 u-palette-2-base u-radius-10 u-btn-1">donor</a>
      <a href="#" class="u-align-center u-btn u-btn-round u-button-style u-hover-custom-color-2 u-palette-2-base u-radius-10 u-btn-2">hospital/ngo</a>
    </div>
  </div>
</div>
<a class="u-absolute-vcenter u-carousel-control u-carousel-control-prev u-hidden u-icon-circle u-text-body-alt-color u-text-hover-palette-1-base u-block-d2f3-3" href="#carousel_5d7c" role="button" data-u-slide="prev">
  <span aria-hidden="true">
    <svg viewBox="0 0 477.175 477.175"><path d="M145.188,238.575l215.5-215.5c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0l-225.1,225.1c-5.3,5.3-5.3,13.8,0,19.1l225.1,225
              c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1L145.188,238.575z"></path></svg>
  </span>
  <span class="sr-only">Previous</span>
</a>
<a class="u-absolute-vcenter u-carousel-control u-carousel-control-next u-hidden u-icon-circle u-text-body-alt-color u-text-hover-palette-1-base u-block-d2f3-4" href="#carousel_5d7c" role="button" data-u-slide="next">
  <span aria-hidden="true">
    <svg viewBox="0 0 477.175 477.175"><path d="M360.731,229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1l215.5,215.5l-215.5,215.5
              c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-4l225.1-225.1C365.931,242.875,365.931,234.275,360.731,229.075z"></path></svg>
  </span>
  <span class="sr-only">Next</span>
</a>
</section>
<section class="u-clearfix u-section-2" id="sec-0232">
<div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
  <div class="u-clearfix u-expanded-width u-gutter-10 u-layout-wrap u-layout-wrap-1">
    <div class="u-layout">
      <div class="u-layout-col">
        <div class="u-size-30">
          <div class="u-layout-row">
            <div class="u-container-style u-effect-hover-zoom u-layout-cell u-left-cell u-size-30 u-layout-cell-1" src="" data-image-width="626" data-image-height="417">
              <div class="u-background-effect u-expanded">
                <div class="u-background-effect-image u-expanded u-image u-image-1" data-image-width="626" data-image-height="417"></div>
              </div>
              <div class="u-container-layout u-valign-middle u-container-layout-1"></div>
            </div>
            <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
              <div class="u-container-layout u-container-layout-2">
                <h2 class="u-text u-text-1">Donate Blood &amp; Save a Life</h2>
                <p class="u-text u-text-2">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="u-size-30">
          <div class="u-layout-row">
            <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-3">
              <div class="u-container-layout u-valign-middle u-container-layout-3">
                <h2 class="u-text u-text-3">Automated Blood Monitoring</h2>
                <p class="u-text u-text-4">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
              </div>
            </div>
            <div class="u-container-style u-effect-hover-zoom u-layout-cell u-right-cell u-size-30 u-layout-cell-4" src="" data-image-width="1200" data-image-height="500">
              <div class="u-background-effect u-expanded">
                <div class="u-background-effect-image u-expanded u-image u-image-2" data-image-width="1200" data-image-height="500"></div>
              </div>
              <div class="u-container-layout u-valign-middle u-container-layout-4"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<section class="u-align-center u-clearfix u-grey-5 u-section-3" id="sec-3239">
<div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-sheet-1 slideanim">
  <h1 class="u-text u-text-1">About Us</h1>
  <p class="u-align-center u-text u-text-2" spellcheck="false">We are a group of 4 people focused on eradicating shortage of blood in hospitals by creating a transparent system that connects the management to the donors directly.&nbsp;</p>
  <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
    <div class="u-layout">
      <div class="u-layout-row">
        <div class="u-container-style u-layout-cell u-size-36-lg u-size-36-md u-size-36-sm u-size-36-xs u-size-38-xl u-layout-cell-1">
          <div class="u-container-layout u-valign-top u-container-layout-1">
            <p class="u-text u-text-3" spellcheck="false">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.&nbsp;<br>
              <br>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue.&nbsp;<br>
              <br>
            </p>
          </div>
        </div>
        <div class="u-container-style u-image u-layout-cell u-size-22-xl u-size-24-lg u-size-24-md u-size-24-sm u-size-24-xs u-image-1" data-image-width="962" data-image-height="521">
          <div class="u-container-layout u-container-layout-2"></div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<section class="u-align-center u-clearfix u-section-4" id="sec-d9d2">
<div class="u-clearfix u-sheet u-valign-middle-sm u-valign-middle-xs u-sheet-1 slideanim">
  <h2 class="u-text u-text-1">Checkout Our Gallery</h2>
  <div class="u-expanded-width u-gallery u-layout-grid u-lightbox u-show-text-on-hover u-gallery-1">
    <div class="u-gallery-inner u-gallery-inner-1">
      <div class="u-effect-fade u-gallery-item">
        <div class="u-back-slide" data-image-width="976" data-image-height="549">
          <img class="u-back-image u-expanded" src="https://ichef.bbci.co.uk/news/976/cpsprodpb/F7F8/production/_107408436_blooddonationman.jpg">
        </div>
        <div class="u-over-slide u-shading u-over-slide-1">
          <h3 class="u-gallery-heading"></h3>
          <p class="u-gallery-text"></p>
        </div>
      </div>
      <div class="u-effect-fade u-gallery-item">
        <div class="u-back-slide" data-image-width="4001" data-image-height="2251">
          <img class="u-back-image u-expanded u-image-contain u-back-image-2" src="https://stanfordbloodcenter.org/wp-content/uploads/2020/06/Blood-facts_10-illustration-graphics__canteen.png">
        </div>
        <div class="u-over-slide u-shading u-over-slide-2">
          <h3 class="u-gallery-heading"></h3>
          <p class="u-gallery-text"></p>
        </div>
      </div>
      <div class="u-effect-fade u-gallery-item">
        <div class="u-back-slide" data-image-width="750" data-image-height="450">
          <img class="u-back-image u-expanded" src="https://i1.wp.com/iebizjournal.com/wp-content/uploads/Canva-Nurse-receiving-blood-from-blood-donor-in-hospital..jpg?resize=750%2C450&amp;ssl=1">
        </div>
        <div class="u-over-slide u-shading u-over-slide-3">
          <h3 class="u-gallery-heading"></h3>
          <p class="u-gallery-text"></p>
        </div>
      </div>
      <div class="u-effect-fade u-gallery-item">
        <div class="u-back-slide" data-image-width="962" data-image-height="521">
          <img class="u-back-image u-expanded u-back-image-4" src="https://www.capecodhealth.org/app/files/public/9919/COVIDBloodDonate_cchn.jpg">
        </div>
        <div class="u-over-slide u-shading u-over-slide-4">
          <h3 class="u-gallery-heading"></h3>
          <p class="u-gallery-text"></p>
        </div>
      </div>
      <div class="u-effect-fade u-gallery-item">
        <div class="u-back-slide">
          <img class="u-back-image u-expanded" src="https://www.yashodahospitals.com/wp-content/uploads/Blood-Donation-during-the-COVID-19-pandemic.jpg">
        </div>
        <div class="u-over-slide u-shading u-over-slide-5">
          <h3 class="u-gallery-heading"></h3>
          <p class="u-gallery-text"></p>
        </div>
      </div>
      <div class="u-effect-fade u-gallery-item">
        <div class="u-back-slide">
          <img class="u-back-image u-expanded" src="https://www.thomsonmedical.com/wp-content/uploads/2017/06/iStock-690302872.jpg">
        </div>
        <div class="u-over-slide u-shading u-over-slide-6">
          <h3 class="u-gallery-heading"></h3>
          <p class="u-gallery-text"></p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<section class="u-align-center u-clearfix u-grey-15 u-section-5" id="sec-e2fe">
<div class="u-clearfix u-sheet u-sheet-1 slideanim">
  <h1 class="u-align-center u-text u-text-1 slideanim">Letter Heads</h1>
  <p class="u-text u-text-2">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
  <div class="u-expanded-width u-list u-list-1">
    <div class="u-repeater u-repeater-1">
      <div class="u-align-center u-container-style u-effect-hover-zoom u-list-item u-repeater-item" data-image-width="150" data-image-height="94">
        <div class="u-background-effect u-expanded">
          <div class="u-background-effect-image u-expanded u-image u-image-1" data-image-width="150" data-image-height="94"></div>
        </div>
        <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-1">
          <a href="" class="u-btn u-button-style u-hover-palette-1-dark-1 u-palette-2-base u-btn-1">learn more</a>
        </div>
      </div>
      <div class="u-align-center u-container-style u-effect-hover-zoom u-list-item u-repeater-item" data-image-width="150" data-image-height="94">
        <div class="u-background-effect u-expanded">
          <div class="u-background-effect-image u-expanded u-image u-image-2" data-image-width="150" data-image-height="94"></div>
        </div>
        <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-2">
          <a href="" class="u-btn u-button-style u-hover-palette-1-dark-1 u-palette-2-base u-btn-2">learn more</a>
        </div>
      </div>
      <div class="u-align-center u-container-style u-effect-hover-zoom u-list-item u-repeater-item" data-image-width="150" data-image-height="94">
        <div class="u-background-effect u-expanded">
          <div class="u-background-effect-image u-expanded u-image u-image-3" data-image-width="150" data-image-height="94"></div>
        </div>
        <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-3">
          <a href="" class="u-btn u-button-style u-hover-palette-1-dark-1 u-palette-2-base u-btn-3">learn more</a>
        </div>
      </div>
      <div class="u-align-center u-container-style u-effect-hover-zoom u-list-item u-repeater-item" data-image-width="150" data-image-height="94">
        <div class="u-background-effect u-expanded">
          <div class="u-background-effect-image u-expanded u-image u-image-4" data-image-width="150" data-image-height="94"></div>
        </div>
        <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-4">
          <a href="" class="u-btn u-button-style u-hover-palette-1-dark-1 u-palette-2-base u-btn-4">learn more</a>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<section class="u-clearfix u-grey-10 u-section-6" id="sec-ab34">
<div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1 slideanim">
  <h1 class="u-align-center u-text u-text-1">Latest Blogs</h1><!--blog--><!--blog_options_json--><!--{"type":"Recent","source":"","tags":"","count":"","gridProps":[{"mode":"XL","columns":2,"gap":22,"styles":".u-section-6 .u-repeater-1 {grid-auto-rows: [[XL_VALUE]] !important}"},{"mode":"LG","columns":2,"gap":22,"styles":"@media (max-width: 1199px) {.u-section-6 .u-repeater-1 {grid-auto-rows: [[LG_VALUE]] !important}}"},{"mode":"MD","columns":1,"gap":22,"styles":"@media (max-width: 991px) {.u-section-6 .u-repeater-1 {grid-auto-rows: [[MD_VALUE]] !important}}"},{"mode":"SM","columns":1,"gap":22,"styles":"@media (max-width: 767px) {.u-section-6 .u-repeater-1 {grid-auto-rows: [[SM_VALUE]] !important}}"},{"mode":"XS","columns":1,"gap":22,"styles":"@media (max-width: 575px) {.u-section-6 .u-repeater-1 {grid-auto-rows: [[XS_VALUE]] !important}}"}]}--><!--/blog_options_json-->
  <div class="u-blog u-expanded-width u-pagination-center u-blog-1">
    <div class="u-repeater u-repeater-1"><!--blog_post-->
      <div class="u-align-left-xs u-blog-post u-container-style u-repeater-item u-white u-repeater-item-1">
        <div class="u-container-layout u-similar-container u-valign-bottom-lg u-valign-top-xl u-container-layout-1"><!--blog_post_image-->
          <img alt="" class="u-blog-control u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-1" src="https://images.financialexpress.com/2021/06/covid-19-blood-donation.jpg"><!--/blog_post_image--><!--blog_post_header-->
          <h4 class="u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-blog-control u-text u-text-2">
            <a class="u-post-header-link" href="#"><!--blog_post_header_content-->World Blood Donor Day 2021<!--/blog_post_header_content--></a>
          </h4><!--/blog_post_header--><!--blog_post_metadata-->
          <div class="u-blog-control u-metadata u-text-grey-40 u-metadata-1"><!--blog_post_metadata_date-->
            <span class="u-meta-date u-meta-icon"><!--blog_post_metadata_date_content-->Sat May 29 2021<!--/blog_post_metadata_date_content--></span><!--/blog_post_metadata_date--><!--blog_post_metadata_comments-->
            <span class="u-meta-comments u-meta-icon"><!--blog_post_metadata_comments_content-->03:22:21<!--/blog_post_metadata_comments_content--></span><!--/blog_post_metadata_comments-->
          </div><!--/blog_post_metadata--><!--blog_post_content-->
          <div class="u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-blog-control u-post-content u-text u-text-3"><!--blog_post_content_content-->World blood donor day takes place on 14th June each year.<!--/blog_post_content_content--></div><!--/blog_post_content--><!--blog_post_readmore-->
          <a href="https://www.financialexpress.com/lifestyle/health/world-blood-donor-day-2021-impact-of-covid-19-on-blood-donation/2270503/" class="u-blog-control u-btn u-button-style u-btn-1"><!--blog_post_readmore_content-->Read More<!--/blog_post_readmore_content--></a><!--/blog_post_readmore-->
        </div>
      </div><!--/blog_post--><!--blog_post-->
      <div class="u-align-left-xs u-blog-post u-container-style u-repeater-item u-video-cover u-white">
        <div class="u-container-layout u-similar-container u-valign-bottom-lg u-valign-top-xl u-container-layout-2"><!--blog_post_image-->
          <img alt="" class="u-blog-control u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-2" src="https://images.livemint.com/img/2021/05/19/600x338/78f6dfaa-adb1-11eb-bba5-5055020b5abf_1620227924106_1621427910982.jpg"><!--/blog_post_image--><!--blog_post_header-->
          <h4 class="u-align-left-lg u-align-left-md u-align-left-sm u-blog-control u-text u-text-4">
            <a class="u-post-header-link" href="#"><!--blog_post_header_content-->Vaccination to blood donation after Covid recovery.<!--/blog_post_header_content--></a>
          </h4><!--/blog_post_header--><!--blog_post_metadata-->
          <div class="u-blog-control u-metadata u-text-grey-40 u-metadata-2"><!--blog_post_metadata_date-->
            <span class="u-meta-date u-meta-icon"><!--blog_post_metadata_date_content-->Sat May 19 2021<!--/blog_post_metadata_date_content--></span><!--/blog_post_metadata_date--><!--blog_post_metadata_comments-->
            <span class="u-meta-comments u-meta-icon"><!--blog_post_metadata_comments_content-->11:25:43<!--/blog_post_metadata_comments_content--></span><!--/blog_post_metadata_comments-->
          </div><!--/blog_post_metadata--><!--blog_post_content-->
          <div class="u-align-left-lg u-align-left-md u-align-left-sm u-blog-control u-post-content u-text u-text-5"><!--blog_post_content_content-->Here are Centre's new guidelines<!--/blog_post_content_content--></div><!--/blog_post_content--><!--blog_post_readmore-->
          <a href="https://www.livemint.com/news/india/from-vaccination-to-blood-donation-after-covid-recovery-here-are-new-guidelines-11621426543512.html" class="u-blog-control u-btn u-button-style u-btn-2"><!--blog_post_readmore_content-->Read More<!--/blog_post_readmore_content--></a><!--/blog_post_readmore-->
        </div>
      </div><!--/blog_post--><!--blog_post-->
      <div class="u-align-left-xs u-blog-post u-container-style u-repeater-item u-video-cover u-white">
        <div class="u-container-layout u-similar-container u-valign-bottom-lg u-valign-top-xl u-container-layout-3"><!--blog_post_image-->
          <img alt="" class="u-blog-control u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-3" src="https://telanganatoday.com/wp-content/uploads/2021/06/Blood-Donation-1.jpg"><!--/blog_post_image--><!--blog_post_header-->
          <h4 class="u-align-left-lg u-align-left-md u-align-left-sm u-blog-control u-text u-text-6">
            <a class="u-post-header-link" href="#"><!--blog_post_header_content-->Blood donation camp at Rasoolpura<!--/blog_post_header_content--></a>
          </h4><!--/blog_post_header--><!--blog_post_metadata-->
          <div class="u-blog-control u-metadata u-text-grey-40 u-metadata-3"><!--blog_post_metadata_date-->
            <span class="u-meta-date u-meta-icon"><!--blog_post_metadata_date_content-->Sat May 12 2021<!--/blog_post_metadata_date_content--></span><!--/blog_post_metadata_date--><!--blog_post_metadata_comments-->
            <span class="u-meta-comments u-meta-icon"><!--blog_post_metadata_comments_content-->04:30:00<!--/blog_post_metadata_comments_content--></span><!--/blog_post_metadata_comments-->
          </div><!--/blog_post_metadata--><!--blog_post_content-->
          <div class="u-align-left-lg u-align-left-md u-align-left-sm u-blog-control u-post-content u-text u-text-7"><!--blog_post_content_content-->Malla and Rajasekhar Reddy appreciated the organisation’s efforts to help the society via blood drive<!--/blog_post_content_content--></div><!--/blog_post_content--><!--blog_post_readmore-->
          <a href="https://telanganatoday.com/blood-donation-camp-conducted-at-rasoolpura" class="u-blog-control u-btn u-button-style u-btn-3"><!--blog_post_readmore_content-->Read More<!--/blog_post_readmore_content--></a><!--/blog_post_readmore-->
        </div>
      </div><!--/blog_post--><!--blog_post-->
      <div class="u-align-left-xs u-blog-post u-container-style u-repeater-item u-video-cover u-white">
        <div class="u-container-layout u-similar-container u-valign-bottom-lg u-valign-top-xl u-container-layout-4"><!--blog_post_image-->
          <img alt="" class="u-blog-control u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-4" src="https://th.thgim.com/static/theme/default/base/img/logo.png"><!--/blog_post_image--><!--blog_post_header-->
          <h4 class="u-align-left-lg u-align-left-md u-align-left-sm u-blog-control u-text u-text-8">
            <a class="u-post-header-link" href="#"><!--blog_post_header_content-->New Revised Guidelines<!--/blog_post_header_content--></a>
          </h4><!--/blog_post_header--><!--blog_post_metadata-->
          <div class="u-blog-control u-metadata u-text-grey-40 u-metadata-4"><!--blog_post_metadata_date-->
            <span class="u-meta-date u-meta-icon"><!--blog_post_metadata_date_content-->Sat April 12 2021<!--/blog_post_metadata_date_content--></span><!--/blog_post_metadata_date--><!--blog_post_metadata_comments-->
            <span class="u-meta-comments u-meta-icon"><!--blog_post_metadata_comments_content-->13:00:00<!--/blog_post_metadata_comments_content--></span><!--/blog_post_metadata_comments-->
          </div><!--/blog_post_metadata--><!--blog_post_content-->
          <div class="u-align-left-lg u-align-left-md u-align-left-sm u-blog-control u-post-content u-text u-text-9"><!--blog_post_content_content-->Reduced deferral period between a COVID-19 vaccine dose and blood donation<!--/blog_post_content_content--></div><!--/blog_post_content--><!--blog_post_readmore-->
          <a href="https://www.thehindu.com/news/national/kerala/revision-of-guidelines-clears-concern-over-blood-donation/article34572353.ece" class="u-blog-control u-btn u-button-style u-btn-4"><!--blog_post_readmore_content-->Read More<!--/blog_post_readmore_content--></a><!--/blog_post_readmore-->
        </div>
      </div><!--/blog_post-->
    </div>
    <div class="u-list-control"></div>
  </div><!--/blog-->
</div>
</section>
  {% include "blood/footer.html" %}


</body>

</html>
